---
import Logo from "@components/logos/Logo/Logo.astro";
import css from "./Nav.module.css";
---

<nav class={css.nav}>
  <a href=""><Logo width={50} height={50} /></a>

  <div class={css.wrapper}>
    <a href="">menú</a>
    <a href="">cocinero</a>
    <a href="">servicios</a>
    <a href="">sobre nosotros</a>
    <a href="">contacto</a>
  </div>
</nav>
